.edit_education_dates_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 55px 50px;

}

.label_select_education_dates{
    margin-bottom: 0;
}

.form_select_modal_search{
    position: relative;
    width: 85%;
    margin: auto;
}

.form_select_modal_search label{
   margin-left: 0 !important;
}

.form_select_modal_search select{
    padding-bottom: 30px !important;
 }

.form_select_modal_search input{
    position: absolute;
    top: 70%;
    width: 80%;
    z-index: 999;
    left: 5%;
    border: transparent;
    outline: none;
}