#createPassword{
    padding: 0 50px;
}

#createPassword h1{
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #292731;
}

#createPassword p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #292731;
}