.edit_employment_dates_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.kpis_employment_dates{
    margin-top: 15px;
}

.label_select_employment_dates{
    margin-bottom: 0;
}

.edit_inputs_project .edit_inputs_project_checkbox,
.edit_inputs_project .edit_inputs_project_checkbox div  
{
    display: flex;
    align-items: baseline;
}

.edit_inputs_project .edit_inputs_project_checkbox div label
{
    margin-left: 10px;
    margin-right: 80px;
}


.edit_inputs_project textarea
{
    margin: 30px 0;
    height: 120px;
    max-height: 120px;
    width: 100%;
    max-width: 100%;
    background: #FFFFFF;
    border: 1px solid #395F8C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 15px;
    color: #000000a1;
    outline: none;
}